@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  /* 1. Định nghĩa Keyframes */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes shine {
    100% {
      left: 125%;
    }
  }

  /* 2. Tạo Animation Utility classes */
  /* Cú pháp: --animate-<tên-class>: <tên-keyframes> <thông-số> */

  --animate-fade-in-up: fadeInUp 0.8s ease-out forwards;

  --animate-shine-infinite: shine 5s infinite linear;

  --animate-shine-fast: shine 0.7s forwards ease-in-out;
}
@layer utilities {
  .bg-stars-pattern {
    background-color: #0a0a0a;
    background-image: radial-gradient(
        1.5px 1.5px at 20px 30px,
        #fff,
        rgba(0, 0, 0, 0)
      ),
      radial-gradient(2px 2px at 40px 70px, #ffffff, rgba(0, 0, 0, 0)),
      radial-gradient(1px 1px at 90px 40px, #fff, rgba(0, 0, 0, 0)),
      radial-gradient(2px 2px at 160px 120px, #b5a65f, rgba(0, 0, 0, 0));
    background-size: 250px 250px;
  }
  .bg-dots-pattern {
    background-color: #0a0a0a;
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.15) 1px,
      transparent 1px
    );
    background-size: 30px 30px;
    mask-image: linear-gradient(
      to bottom,
      transparent,
      black 15%,
      black 85%,
      transparent
    );
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent,
      black 15%,
      black 85%,
      transparent
    );
  }
  .bg-grid-pattern {
    background-color: #0a0a0a;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.03) 1px,
        transparent 1px
      ),
      linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    background-size: 50px 50px;
  }
}
